Historic-Crypto
Pillow
PyPDF2
PyYAML
azure-core
azure-identity
azure-keyvault-secrets
azure-search-documents
cmdstanpy
country-converter
cryptocmd
datasets
fairlearn
gate-api
geopandas
matplotlib
nltk
numpy
openai
pandas
pandas-datareader
plotly
pmdarima
prophet
pymongo
pyspark
python-dotenv
requests
scikit-learn
scikit-surprise
scipy
seaborn
statsmodels
tensorflow
tiktoken
tweepy
xgboost
yfinance